<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xmlns="http://java.sun.com/xml/ns/javaee"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
         version="3.0">


    <display-name>CRM Web Application</display-name>


    <welcome-file-list>
        <welcome-file>index.jsp</welcome-file>
    </welcome-file-list>

    <servlet>
        <servlet-name>userValidator</servlet-name>
        <servlet-class>com.becomejavasenior.servlets.UserAuthorizationServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>userValidator</servlet-name>
        <url-pattern>/user_validator</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>userView</servlet-name>
        <servlet-class>com.becomejavasenior.servlets.UserViewServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>userView</servlet-name>
        <url-pattern>/user_view</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>userList</servlet-name>
        <servlet-class>com.becomejavasenior.servlets.UserListServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>userList</servlet-name>
        <url-pattern>/user_list</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>userCreate</servlet-name>
        <servlet-class>com.becomejavasenior.servlets.UserCreateServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>userCreate</servlet-name>
        <url-pattern>/user_create</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>userEdit</servlet-name>
        <servlet-class>com.becomejavasenior.servlets.UserEditServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>userEdit</servlet-name>
        <url-pattern>/user_edit</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>userDelete</servlet-name>
        <servlet-class>com.becomejavasenior.servlets.UserDeleteServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>userDelete</servlet-name>
        <url-pattern>/user_delete</url-pattern>
    </servlet-mapping>


   <!-- <filter>
        <filter-name>userCheckFilter</filter-name>
        <filter-class>com.becomejavasenior.filters.UserCheckFilter</filter-class>
        <init-param>
            <param-name>loginActionURI</param-name>
            <param-value>com.becomejavasenior.servlets.UserAuthorizationServlet</param-value>
        </init-param>
    </filter>
    <filter-mapping>
        <filter-name>userCheckFilter</filter-name>
        <url-pattern>/*</url-pattern>
        <url-pattern>*.jsp</url-pattern>
        <dispatcher>REQUEST</dispatcher>
        <dispatcher>FORWARD</dispatcher>
    </filter-mapping>-->

    <!--<filter>
        <filter-name>compressionFilter</filter-name>
        <filter-class>com.becomejavasenior.filters.CompressionFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>compressionFilter</filter-name>
        <url-pattern>/*</url-pattern>
        <url-pattern>*.jsp</url-pattern>
    </filter-mapping>-->


</web-app>
