.form-container {
    border: 1px solid #611818;
    background: #efe6a8;
    background: -webkit-gradient(linear, left top, left bottom, from(#f54f13), to(#efe6a8));
    background: -webkit-linear-gradient(top, #f54f13, #efe6a8);
    background: -moz-linear-gradient(top, #f54f13, #efe6a8);
    background: -ms-linear-gradient(top, #f54f13, #efe6a8);
    background: -o-linear-gradient(top, #f54f13, #efe6a8);
    background-image: -ms-linear-gradient(top, #f54f13 0%, #efe6a8 100%);
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    border-radius: 8px;
    -webkit-box-shadow: rgba(000,000,000,0.9) 0 1px 2px, inset rgba(255,255,255,0.4) 0 0px 0;
    -moz-box-shadow: rgba(000,000,000,0.9) 0 1px 2px, inset rgba(255,255,255,0.4) 0 0px 0;
    box-shadow: rgba(000,000,000,0.9) 0 1px 2px, inset rgba(255,255,255,0.4) 0 0px 0;
    font-family: 'Helvetica Neue',Helvetica,sans-serif;
    text-decoration: none;
    vertical-align: middle;
    horiz-align: center;
    min-width:300px;
    padding:20px;
    width:300px;
    margin:0 auto;
    display:block;
}
.form-field {
    border: 1px solid #982f14;
    background: #faf4dc;
    -webkit-border-radius: 9px;
    -moz-border-radius: 9px;
    border-radius: 9px;
    color: #6c170e;
    -webkit-box-shadow: rgba(255,255,255,0.4) 0 1px 0, inset rgba(000,000,000,0.7) 0 0px 0px;
    -moz-box-shadow: rgba(255,255,255,0.4) 0 1px 0, inset rgba(000,000,000,0.7) 0 0px 0px;
    box-shadow: rgba(255,255,255,0.4) 0 1px 0, inset rgba(000,000,000,0.7) 0 0px 0px;
    padding:8px;
    margin-bottom:20px;
    width:280px;
}
.form-field:focus {
    background: #fdc961;
    color: #460902;
}
.form-container h2 {
    text-shadow: #c79370 0 1px 0;
    font-size:18px;
    margin: 0 0 10px 0;
    font-weight:bold;
    text-align:center;
}
.form-title {
    margin-bottom:10px;
    color: #3b1902;
    text-shadow: #c79370 0 1px 0;
}
.submit-container {
    margin:8px 0;
    text-align:right;
}
.submit-button {
    border: 1px solid #611818;
    background: #fff763;
    background: -webkit-gradient(linear, left top, left bottom, from(#d63c0d), to(#fff763));
    background: -webkit-linear-gradient(top, #d63c0d, #fff763);
    background: -moz-linear-gradient(top, #d63c0d, #fff763);
    background: -ms-linear-gradient(top, #d63c0d, #fff763);
    background: -o-linear-gradient(top, #d63c0d, #fff763);
    background-image: -ms-linear-gradient(top, #d63c0d 0%, #fff763 100%);
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    -webkit-box-shadow: rgba(255,255,255,0.4) 0 1px 0, inset rgba(255,255,255,0.4) 0 1px 0;
    -moz-box-shadow: rgba(255,255,255,0.4) 0 1px 0, inset rgba(255,255,255,0.4) 0 1px 0;
    box-shadow: rgba(255,255,255,0.4) 0 1px 0, inset rgba(255,255,255,0.4) 0 1px 0;
    text-shadow: #b55104 0 1px 0;
    color: #1f0a03;
    font-family: helvetica, serif;
    padding: 8.5px 18px;
    font-size: 14px;
    text-decoration: none;
    vertical-align: middle;
}
.submit-button:hover {
    border: 1px solid #fefbf4;
    text-shadow: #f5bf96 0 1px 0;
    background: #fff01f;
    background: -webkit-gradient(linear, left top, left bottom, from(#b33512), to(#fff01f));
    background: -webkit-linear-gradient(top, #b33512, #fff01f);
    background: -moz-linear-gradient(top, #b33512, #fff01f);
    background: -ms-linear-gradient(top, #b33512, #fff01f);
    background: -o-linear-gradient(top, #b33512, #fff01f);
    background-image: -ms-linear-gradient(top, #b33512 0%, #fff01f 100%);
    color: #fff;
}
.submit-button:active {
    text-shadow: #f5bf96 0 1px 0;
    border: 1px solid #f7ddb7;
    background: #fce700;
    background: -webkit-gradient(linear, left top, left bottom, from(#7a1f09), to(#fff01f));
    background: -webkit-linear-gradient(top, #7a1f09, #fce700);
    background: -moz-linear-gradient(top, #7a1f09, #fce700);
    background: -ms-linear-gradient(top, #7a1f09, #fce700);
    background: -o-linear-gradient(top, #7a1f09, #fce700);
    background-image: -ms-linear-gradient(top, #7a1f09 0%, #fce700 100%);
    color: #fff;
}
.form-table{
    font-family: "Lucida Sans Unicode", "Lucida Grande", Sans-Serif;
    font-size: 14px;
    border-radius: 10px;
    border-spacing: 0;
    text-align: center;
}
.table-h{
    background: #d63c0d;
    color: white;
    text-shadow: 0 1px 1px #2D2020;
    padding: 10px 20px;
}
.table-h, .table-r {
    border-style: solid;
    border-width: 0 1px 1px 0;
    border-color: white;
}
.table-h:first-child, .table-r:first-child {
    text-align: left;
}
.table-h:first-child {
    border-top-left-radius: 10px;
}
.table-h:last-child {
    border-top-right-radius: 10px;
    border-right: none;
}
.table-r {
    padding: 10px 20px;
    background: #F8E391;
}
.tr:last-child .table-r:first-child {
    border-radius: 0 0 0 10px;
}
.tr:last-child .table-r:last-child {
    border-radius: 0 0 10px 0;
}
.tr .table-r:last-child {
    border-right: none;
}